.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.boxShadow{
  height:400px;
  box-shadow: 13px 9px 39px -23px rgba(0,0,0,0.75);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imageCard{
  height:350px;
  box-shadow: 13px 9px 39px -23px rgba(0,0,0,0.75);
}
.textCard{
  transform: translateX(-50%);
  height:300px;
  box-shadow: 13px 9px 39px -23px rgba(0,0,0,0.75);
}
.textCard3{
  transform: translateX(-30%);
  height:300px;
  box-shadow: 13px 9px 39px -23px rgba(0,0,0,0.75);
}
.textCardContainer{
  height:450px;
}
.textCardContainer2{
  height:450px;
}
.textCard2{
  transform: translateX(50%);
  height:300px;
  box-shadow: 13px 9px 39px -23px rgba(0,0,0,0.75);
}
.testimonialsContainer{
  height:90vh;
  padding:40px;
  box-shadow: -1px 0px 39px -6px rgba(0,0,0,0.75)
}
.header{
  font-size: 800px;
}

.gradientbackground{
  background: rgb(43,246,239);
  background: linear-gradient(180deg, rgb(43, 246, 239) 18%, rgba(131,58,180,1) 55%, rgba(60,60,59,1) 100%);
}
.cardboard{
  height: 950px;
  box-shadow: 0px 0px 49px -13px rgba(0,0,0,0.75);
}
.cardboard2{
  height: 550px;
  box-shadow: 0px 0px 49px -13px rgba(0,0,0,0.75);
}
.messageCard{
  transform: translateX(-20%);
}
.video {
  height: 750px;
}
.messageCard3{
  height: 750px;
  transform: translateX(20%);
}
.pictureCollage{
  box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
}
.pictureCollage2{
  box-shadow: 2px 4px 51px -14px rgba(0,0,0,0.75);
}

.sideBanner{
  height: 650px;
  box-shadow: 1px 1px 21px 0px rgba(0,0,0,0.75);
}
.centerBanner{
  height: 800px;
  box-shadow: 1px 1px 21px 0px rgba(0,0,0,0.75);
}

.banner{
  height:550px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: -1px 0px 39px -6px rgba(0,0,0,0.75);
}
@media screen and (max-width: 992px) {
  .testimonialsContainer{
    height: auto;
    padding:40px;
    box-shadow: -1px 0px 39px -6px rgba(0,0,0,0.75);
  }
  .cardboard{
    height:400px;
  }
  .banner{
    height:500px;
    background-image: url("/banner2.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .sideBanner{
    height: 350px;
  }
  .messageCard{
    transform: translateX(0%);
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .messageCard3{
    transform: translateX(0%);
    margin-bottom: 12px;
  }
  .centerBanner{
    height: 400px;
    box-shadow: 1px 1px 21px 0px rgba(0,0,0,0.75);
  }

}
